<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HetNest - Aanbiedingen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="header :: header">Header</div>
<div class="container">
    <p th:text="${userrole}"></p>
    <a th:href="@{/nieuweAanbieding.html}" name="nieuweAanbieding">Nieuwe aanbieding</a>
    <div class="text-left d-flex flex-row">
        <div th:if="${userrole =='PRODUCTIELID'}" class="p-4">
            <h2>Nieuwe Aanbiedingen</h2>
            <ul style="list-style-type: none;">
                <li th:each="aanbieding : ${nieuweAanbiedingen}">
                    <a th:href="@{/aanbieding.html(id=${aanbieding.id})}">
                        <span th:text="${aanbieding.naam}"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-4">
        <h2>Goedgekeurde Aanbiedingen</h2>
        <ul style="list-style-type: none;">
            <li th:each="aanbieding : ${goedgekeurdeAanbiedingen}">
                <a th:href="@{/aanbieding.html(id=${aanbieding.id})}">
                    <span th:text="${aanbieding.naam}"></span>
                </a><span th:text="- ${aanbieding.hoeveelheid}"></span>
            </li>
        </ul>
        </div>
        <div class="p-4">
            <h2>Dringend te Gebruiken</h2>
            <ul style="list-style-type: none;">
                <li th:each="aanbieding : ${dringendTeGebruiken}">
                    <a th:href="@{/aanbieding.html(id=${aanbieding.id})}">
                        <span th:text="${aanbieding.naam}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-left d-flex flex-row">
        <div class="p-4">
            <h2>Voorraad</h2>
            <ul style="list-style-type: none;">
                <li th:each="ingredient : ${ingredienten}">
                    <span th:text="${ingredient.naam}"></span><span>-</span>
                    <span th:text="${ingredient.hoeveelheid}"></span><span>-</span>
                    <span th:text="${ingredient.status}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>