<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HetNest - aanbieding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="header :: header">Header</div>
<div class="container">
    <div class="text-left">
        <h1>Details van brouwsel</h1>
        <<p><b>Id:</b> <span th:text="${brouwsel.getId()}"></span> </p>
        <p><b>Naam:</b> <span th:text="${brouwsel.getNaam()}"></span> </p>
        <p><b>Externe Brouwer:</b> <span th:text="${brouwsel.getNaamExterneBrouwer()}"></span> </p>
        <table>
            <thead>
            <tr>
                <th> Ingrediënt </th>
                <th> Hoeveelheid </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aanbieding : ${brouwsel.klaargezetteIngredienten}">
                <td><span th:text="${aanbieding.naam}">  </span></td>
                <td><span th:text="${aanbieding.hoeveelheid}">  </span></td>
            </tr>
            </tbody>
        </table>
        <br>
        <p>
            <a th:href="@{/updateBrouwsel.html(id=${brouwsel.id})}">Brouwsel wijzigen</a>
        </p>
        <p>
            <a th:href="@{/brouwselVerwijder.html(id=${brouwsel.id})}">Brouwsel verwijderen</a>
        </p>
        <p>
            <a th:href="@{/aanbiedingKlaarzetten.html(id=${brouwsel.id})}">Ingredienten klaarzetten</a>
        </p>
        <a th:href="@{/brouwsels.html}">Lijst van alle brouwsel</a>

        <br>


    </div>
    <div th:replace="footer :: footer"></div>
</div>
</body>
</html>